 /* Custom CSS for the black box */
 .carousel-caption-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 10px;
  }
  .navbar-brand{
    font-size: 40px;
    font-weight: bold;
  }
  #button{
    padding: 15px;
    border-radius: 20px;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
  }
  #span{
    color: #FF4240;
  }
  .nav-item{
    font-size: 30px;
    font-weight: bold;
  }
  .list-unstyled li a{
    
    color: #FFFFFF99;

  }
  .container1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  .program-box {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .program-box h3 {
    margin-bottom: 10px;
  }
  .product-card{
    margin-bottom: 20px;
  }
  @media (max-width: 600px) {
    .carousel-caption-box {
      width: 55vh;
      height: 50%;
      font-size: 8px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    #button{
      padding: 10px;
      border-radius: 10px;
      color: aliceblue;
      font-size: 15px;
      font-weight: bold;
    }
    .Support{
      display: flex;
      flex-direction: row;
      margin-left: 15px;
      gap: 10px;
    
    }
  }